* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  width: 100%;
  height: 80%;
}

/* Header ==================== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.header-info {
  width: 100%;
  margin: 2rem;
}

.header-info h2 {
  color: #b6b6b6;
  font-size: 0.9rem;
}

.header-info h1 {
  margin-top: 0.3rem;
  color: #222;
  font-size: 1.8rem;
}

.profile-image {
  max-width: 55px;
  margin-right: 2rem;
}

.profile-image img {
  width: 100%;
  border-radius: 12px;
}

/* Search Bar ==================== */

.search-wrapper {
  max-width: 100%;
  padding: 0 2rem;
}

#search-bar {
  width: 100%;
  height: 3rem;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
}

input::placeholder {
  padding: 0.2rem 0.8rem;
  color: #b6b6b6;
}

/* Main - Places ==================== */
main {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-bottom: 6rem;
  margin-top: 2rem;
}

.places-wrapper {
  width: 100%;
}

.places-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.places-title h3 {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.places-title p {
  font-size: 1rem;
  color: #b6b6b6;
}

/* Places ==================== */
.grid-places {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 32px;
  margin-top: 32px;
}

.place {
  display: grid;
  border-radius: 9px;
  box-shadow: 0 0 20px #aaa;
  max-width: 400px;
  max-height: 600px;
  overflow: hidden;

  background-size: contain;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}

a {
  text-decoration: none;
  /* position: absolute; */
}

a > p {
  position: relative;
}

.place > a img {
  display: block;
  max-width: 100%;
}

/* Footer ==================== */
aside {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #eee;
  border-top: 1px solid #ddd;
}

.menu-wrapper {
  margin: 1rem 2rem;
}

.menu-wrapper h1 {
  display: none;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b6b6b6;
}

li:first-child {
  color: #222;
  font-weight: 500;
}

/* Responsividade ===================== */

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .grid-places {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 10rem;
    height: 100%;
    background-color: #eee;
    border-right: 1px solid #ddd;
  }

  .menu-wrapper h1 {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }

  li {
    margin-bottom: 2rem;
  }

  .content {
    margin-left: 10rem;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    width: 100%;
    margin: 0 auto;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-wrapper {
    max-width: 1240px;
    margin: 0 auto;
  }

  main {
    max-width: 1240px;
    /* margin: 0 auto; */
    margin-top: 2rem;
  }

  .grid-places {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 20rem;
    height: 100%;
    background-color: #eee;
    border-right: 1px solid #ddd;
  }

  .menu-wrapper h1 {
    display: block;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 8px;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid #aaa;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  li {
    margin-bottom: 2rem;
  }

  .content-wrapper {
    margin-left: 20rem;
  }

  .content {
    margin: 0 auto;
  }
}
