* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  background: #040a0f;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20rem;
}

nav {
  display: flex;
}

ul {
  display: flex;
  flex-direction: row;
  color: #fff;
  list-style: none;
}

li {
  margin-left: 16px;
  cursor: pointer;
}

h1 {
  color: #fff;
  cursor: pointer;
  padding: 24px 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.wrapper-main {
  width: 100%;

  /* Altura total da viewport - o tamanho do header */
  height: calc(100vh - 86px);
  background: #dce5f0;
}

.main {
  width: 650px;
  margin: 0 auto;
  padding-top: 2rem;
}

p {
  margin-top: 24px;
  line-height: 1.3;
}

.date {
  margin: 0 0 16px;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 600;
  color: #383e40;
}

.text-main {
  color: #383e40;
  font-size: 1.2rem;
  text-align: justify;
  word-spacing: 4px;
}
