:root {
  --background-color: #0d1b2a;
  --title-primary-light: #fff;
  --icons-primary-color: #fff;
  --background-navbar: #1b263b;
  --background-icons-navbar: #778da9;
  --post-date-color: #778da9;
  --post-title-color: #e0e1dd;
  --post-description-color: #778da9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.4%;
}

img {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.margin-horizontal {
  margin: 0 2rem;
}

header {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 1rem 0;
  background-color: var(--background-color);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  max-width: 4rem;
  max-height: 4rem;
  overflow: hidden;
  border-radius: 50%;
}

.header-title {
  color: var(--title-primary-light);
  font-size: 1rem;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
}

footer {
  width: 100%;
  background-color: var(--background-navbar);
  position: fixed;
  bottom: 0;
}

.navbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar i {
  /* background-color: var(--background-icons-navbar); */
  padding: 1rem;
  color: var(--icons-primary-color);
  border-radius: 50px;
  cursor: pointer;
  margin-left: 1rem;
}

main {
  margin-top: calc(6rem + 4rem);
  margin-bottom: 8rem;
  width: 100%;
  color: #fff;
}

.posts-wrapper {
  margin-top: 4rem;
}

.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.post-image {
  width: 30%;
  height: 100%;
  background-size: contain;
  overflow: hidden;
  border-radius: 8px;
}

.post-info {
  width: 70%;
}

.post-info p:first-child {
  color: var(--post-date-color);
  margin-bottom: 0.2rem;
}

.post-info h1 {
  color: var(--post-title-color);
}

.post-info p:last-child {
  color: var(--post-description-color);
  list-style: 2.2rem;
  font-size: 1.2rem;
}
