:root {
  --background-color: #0d1b2a;
  --title-primary-light: #fff;
  --background-navbar: #1b263b;
  --background-icons-navbar: #778da9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.4%;
}

img {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.margin-horizontal {
  margin: 0 2rem;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.profile {
  max-width: 5rem;
  max-height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}

.header-title {
  color: var(--title-primary-light);
  font-size: 1rem;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
}

footer {
  width: 100%;
  background-color: var(--background-navbar);
  position: fixed;
  bottom: 0;
}

.navbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar i {
  /* background-color: var(--background-icons-navbar); */
  padding: 1rem;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 1rem;
}
