* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* .site-wrapper {
  max-width: 1120px;
} */

img {
  width: 100%;
}

header {
  display: flex;
}

ul {
  list-style: none;
}

.header-wrapper {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #ddd; */
  margin: 0 auto;
  padding: 24px 0;
}

.logo {
  width: 60px;
  height: 60px;
}

.logo > img {
  width: 100%;
  height: 100%;
}

.menu-wrapper {
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
}

li {
  padding: 0 2px;
  margin: 0 8px;
}

li > a {
  text-decoration: none;
  color: #322e31;
}

li > a:hover {
  color: #f2dd72;
}

.background-wrapper {
  width: 100%;
  height: calc(100vh - 24px);
}

.background-wrapper > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-title {
  position: absolute;
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 8px;
  word-spacing: 8px;
  color: #fff;
  width: 40rem;
  margin: 11rem 15rem;
}

h2 > span {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 3px;
}

.plans-wrapper {
  width: 1120px;
  margin: 0 auto;
}

.plans-title {
  text-align: center;
  margin: 2rem 0;
}

.plans-title > p {
  font-size: 18px;
  font-weight: 200;
  color: #322e31;
  margin-bottom: 8px;
}

.plans-title > h2 {
  color: #322e31;
  font-size: 1.5rem;
  font-weight: 500;
}

.item-plan-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: #aaa; */
  margin-bottom: 2rem;
}

.plan {
  width: 480px;
  height: 420px;
}

.plan:first-child {
  margin-right: 5.5rem;
}

.plan > img {
  width: 100%;
  height: 80%;
}

.plan > h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem 0;
  color: #322e31;
}

.plan > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #322e31;
  text-align: center;
}

.line {
  margin: 0 auto;
  width: 20rem;
  height: 1px;
  background-color: #d5d5d5;
  margin-bottom: 2rem;
}

.services-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #d5d5d5;
  margin-bottom: 2rem;
}

.services-info {
  display: flex;
  justify-content: space-between;
  width: 1120px;
  margin: 0 auto;
  height: 17.5rem;
}

.services-description {
  width: 50%;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.services-description > p {
  color: #322e31;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.services-description > h2 {
  color: #322e31;
  font-size: 1.8rem;
  margin-bottom: 2.7rem;
}

.services-description > a {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #f2b705;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.services-description > a:hover {
  background-color: #322e31;
  color: #fff;
}

.services-img {
  width: 50%;
}

.services-img > img {
  width: 141%;
  height: 100%;
}
