* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 64px;
}

h1 {
  font-size: 2rem;
  padding-bottom: 24px;
}

p {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding-bottom: 16px;
}

ul {
  list-style: none;
}

img {
  padding-right: 12px;
}

.left {
  /* Permite deixar o texto encima da imagem de fundo */
  position: absolute;
  padding: 32px 0 0 32px;
}

.card {
  margin: 0 auto;
  width: 700px;
  height: 340px;
  box-shadow: 3px 10px 10px 6px #d7d6d6;
}
