* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-image: url("/Mobile/1/img/1.jpg"); */
  background-color: #f4f6f7;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

@media only screen and (max-width: 600px) {
  main {
    display: flex;
    padding: 0 2rem;
    /* height: calc(100vh - 52px); */
  }

  h1 {
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
    color: #2b3136;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.3;
    color: #2b3136;
  }

  .text-main {
    margin-bottom: 1.5rem;
    line-height: 1.5;
    word-spacing: 4px;
  }

  nav {
    position: fixed;
    height: 52px;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    padding: 0 2rem;
    margin-top: 1rem;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }

  li > p {
    color: #2b3136;
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .comments-wrapper {
    padding: 0 2rem;
    padding-bottom: 6rem;
  }

  .comments-wrapper > h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .user-name {
    font-size: 1.1rem;
    color: #2b3136;
    margin-bottom: 1rem;
  }

  .user-name > span {
    font-size: 1rem;
    font-weight: 100;
    color: #bbb;
    margin-left: 1.4rem;
  }

  .post {
    margin-bottom: 2rem;
  }

  .comment > p {
    color: rgb(150, 150, 150);
  }
}
