:root {
  --background-container: #22223b;
  --icons-color-primary: #fff;
  --icon-add-border: #cfdbd5;
  --background-color-icon: #4a4e69;
  --title-main-primary: #fff;
  --title-lighter: #e9ecef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem == 10px */
  font-size: 62.5%;
}

img {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--background-container);
  padding: 2rem 3.2rem;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.profile-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.icon {
  font-size: 1.6rem;
  color: var(--icons-color-primary);
  padding: 1rem;
}

.icon:last-child {
  margin-left: 3.2rem;
}

.title-main {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-main > h1 {
  font-size: 3.2rem;
  color: var(--title-main-primary);
}

#icon-add-card {
  border: 1px solid var(--icon-add-border);
  font-size: 1rem;
  border-radius: 50%;
}

.cards-wrapper {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 1.6rem;
  background-color: #fff;
  overflow: hidden;
  height: 18rem;
  padding: 2rem;
  border: 3px solid var(--background-container);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--title-main-primary);
}

.card-header > p {
  display: flex;
  align-items: center;
}

#card-1 {
  background-color: #eb5e28;
}

#card-2 {
  z-index: 997;
  margin-top: -11rem;
  background-color: #0984e3;
}

#card-3 {
  z-index: 998;
  margin-top: -11rem;
  background-color: #d63031;
}

#card-4 {
  z-index: 999;
  margin-top: -11rem;
  background-color: #8f1fbf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-number {
  font-size: 1.2rem;
  color: var(--title-main-primary);
}

.card-number > span {
  margin-left: 1rem;
}

.card-price > h2 {
  font-size: 3.2rem;
  color: var(--title-main-primary);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-expiration > h2 {
  color: var(--title-lighter);
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.card-expiration > p {
  color: var(--title-main-primary);
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 0.3rem;
}

.card-holder > h2 {
  color: var(--title-lighter);
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.card-holder > p {
  color: var(--title-main-primary);
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 0.3rem;
}

.card-flag {
  height: 4rem;
  width: 4rem;
}

.shared-wrapper {
  margin-top: 3.2rem;
}

.shared-wrapper > h1 {
  color: var(--title-main-primary);
  font-size: 2.4rem;
  letter-spacing: 2px;
  margin-bottom: 2.4rem;
}

.accounts-wrapper {
  display: flex;
  justify-content: space-between;
}

.add-account {
  display: flex;
  background-color: var(--background-color-icon);
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
  padding: 2.4rem;
  flex-grow: 1;
  margin-right: 1rem;
}

.account-icon {
  color: var(--icons-color-primary);
}

.account-icon:last-child {
  font-size: 1.6rem;
}

.user-account {
  flex-grow: 4;
  background-color: var(--background-color-icon);
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
  padding: 1rem;
  display: flex;
  color: var(--title-main-primary);
  align-items: center;
}

.user-account:last-child {
  margin-left: 1rem;
}

.user-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}
