* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  align-items: center;
}

.logo {
  font-size: 0.8rem;
  color: #ec2b51;
}

nav > ul {
  display: flex;
  align-items: center;
}

.header-nav > li:first-child {
  color: #aaa;
}

.header-nav > li:last-child {
  /* border: 1px solid #aaa; */
  color: #fff;
  border-radius: 50px;
  padding: 0.3rem 0.6rem;
  margin-left: 1rem;
  background-color: #ec2b51;
  cursor: pointer;
}

.search-wrapper {
  padding: 2rem 4rem;
}

.search-menus {
  display: flex;
  align-items: center;
}

.search-menus > p {
  margin-right: 1rem;
  font-size: 0.9rem;
  padding-bottom: 0.4rem;
}

.search-menus > p:first-child {
  border-bottom: 2px solid #111;
}

p > span {
  font-size: 0.6rem;
  background-color: #111;
  color: #fff;
  border-radius: 4px;
  padding: 0.2rem;
}

.search-inputs-wrapper {
  border: 1px solid #aaa;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(170, 170, 170, 0.349);
  margin-top: 1rem;
}

.search-inputs {
  display: flex;
  justify-content: space-between;
}

.search-inputs > li {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  padding-right: 7rem;
  border-left: 1px solid rgb(216, 216, 216);
  text-justify: left;
  justify-content: center;
}

.search-inputs > li:first-child {
  padding-right: 16rem;
}

.search-inputs > li:last-child {
  border: transparent;
  padding-left: 2rem;
  padding-right: 1rem;
}

.search-inputs > li:first-child {
  border: transparent;
}

.checkin-input {
  padding-right: 10rem;
}

.checkout-input {
  padding-right: 10rem;
}

li > h2 {
  font-size: 0.7rem;
  text-transform: uppercase;
}

li > p {
  font-size: 0.8rem;
  word-spacing: 2px;
  color: rgb(117, 117, 117);
  margin-top: 0.4rem;
}

li > button {
  color: #fff;
  padding: 0.9rem 2rem;
  background-image: linear-gradient(to left, #bb2543, #ec2b51);
  font-weight: 600;
  border: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.title-wrapper {
  display: flex;
  padding: 2rem 60rem 2rem 4rem;
}

.title-wrapper > h2 {
  font-size: 3rem;
  font-weight: 300;
  background-image: linear-gradient(to right, #7a162a, #ec2b51);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-wrapper {
  display: flex;
  padding: 0 4rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.experience {
  border-radius: 8px;
  background-color: #aaa;
  width: 416px;
  height: 280px;
}

.experience > img {
  width: 100%;
  height: 100%;
}
