/* 
#E8EEF2
#C3C3CF
#39395E
#656E80
#FF020B
*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Suaviza o scroll na pagina */
html {
  scroll-behavior: smooth;
}

body {
  height: 2000px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e3e4eb;
}

img {
  width: 100%;
}

/* Altera a cor da selecao dentro da pagina */
::selection {
  background-color: #39395ea6;
}

/* Scroll da pagina */
::-webkit-scrollbar {
  background-color: #c9ced1;
  width: 10px;
}

/* Scroll da pagina */
::-webkit-scrollbar-thumb {
  background-color: rgb(143, 149, 153);
  border-radius: 8px;
}

/* Menu Lateral Esquerdo ============================ */
aside {
  position: fixed;
  width: 18rem;
  height: 100%;
  background-color: #222f3e;
  color: #c8d6e5;
  /* padding: 2rem; */
}

.sidebar-wrapper {
  padding: 2rem;
  margin: 0 auto;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  overflow: hidden;
}

.profile-wrapper h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  font-weight: 400;
}

.profile-wrapper h2 {
  font-size: 1.1rem;
  letter-spacing: 4px;
  font-weight: 300;
}

.profile-wrapper p {
  text-align: center;
  margin-top: 1rem;
  line-height: 1.3rem;
  font-weight: 100;
}

/* Navbar ====================== */
.navbar-menus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-links a {
  color: #c8d6e5;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 200;
}

.menu-links a:hover {
  color: #8395a7;
  transition: color 0.6s;
}

/* Conteudo principal da pagina */
main {
  margin-left: 18rem;
}

/* Classe que limita onde os conteudos irao ficar */
.wrapper {
  max-width: 1300px;
  margin: auto;
  background-color: #fff;
}
