* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebe7dd8f;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  width: 100%;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 8rem;
}

.logo {
  color: #0d0d0d;
}

.nav-menu {
  display: flex;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

li {
  margin: 0 16px;
  font-weight: 400;
}

li > a:hover {
  color: #0d0d0d;
}

#about-menu {
  color: #0d0d0d;
}

a {
  text-decoration: none;
  color: #a19280;
}

button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid #0d0d0d;
  color: #0d0d0d;
  padding: 1px 16px;
  border-radius: 50px;
  cursor: pointer;
}

.nav-menu > button {
  margin-left: 16px;
}

button:hover {
  background-color: #0d0d0d;
  color: #fff;
}

.price {
  margin-left: 4px;
  padding-left: 4px;
  border-left: 1px solid #0d0d0d;
}

main {
  display: flex;
  margin-top: 3rem;
}

.main-title {
  width: 50vw;
  padding-left: 8rem;
  padding-right: 10rem;
}

.main-title > p {
  color: #a19280;
  margin-bottom: 1.2rem;
}

.main-title > h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.main-title > h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #a19280;
  margin-bottom: 1.2rem;
  word-spacing: 9px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper > p {
  margin-top: 4rem;
  margin-right: 8rem;
  color: #cca16d;
  cursor: pointer;
}

.button-wrapper > button {
  font-size: 1rem;
  margin-top: 4rem;
  height: 3.5rem;
  width: 12rem;
  padding: 1rem 2.5rem;
  color: #fff;
  background-color: #0d0d0d;
  box-shadow: 2px 2px 8px #0d0d0d79;
}

.button-wrapper > button:hover {
  color: #a19280;
}

.image-wrapper {
  width: 50vw;
}

img {
  width: 100%;
}
